p.sub-title1 {
    color: aqua;
}
p#sub-title2 {
    color: pink;
}
h1 {
    color: red;
    font-size: 50pt;
    font-weight: bold;
}
h2 {
    color: royalblue;
    font-size: 45pt;
    font-weight: bold;
}
ul {
    color: green;
}
span.company {
    font-weight: bold;
    font-size: larger;
}
span1 {
    color: hotpink;
}
span2 {
    color: indigo;
}
span3 {
    color: blue;
}
span4 {
    color: violet;
}
span5 {
    color: red;
}
div.box1{
    height: 100px;
    width: 100px;
    background-color: royalblue;
    color: red;
}
div.box2{
    height: 100px;
    width: 100px;
    background-color: mediumturquoise;
    color: red;
}
div.box3{
    height: 100px;
    width: 100px;
    background-color: yellow;
    color: red;
    text-align: center;
}