p {
    color: aqua;
}
h1 {
    color: red;
    font-size: 50pt;
    font-weight: bold;
}
h2 {
    color: royalblue;
    font-size: 45pt;
    font-weight: bold;
}
ul {
    color: green;
}
span {
    color: purple;
}
span1 {
    color: hotpink;
}
span2 {
    color: indigo;
}
span3 {
    color: blue;
}
span4 {
    color: violet;
}
span5 {
    color: red;
}